<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hackerrepublic.sarkarsalahkar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_medal"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewPostActivity"
            android:label="@string/title_new_task_activity" />
        <activity
            android:name=".ExpertsSelectionActivity"
            android:label="Escalate To" />
        <activity
            android:name=".EscalationSuccessActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AuthoritySelectionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IdeaDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>